*~
*.swp
*.pyc
*.log
.coverage
.venv
.tox
cover/
openstack.common.egg-info/
.openstack-common-venv/
skeleton.egg-info/
build/
dist/
doc/source/api
AUTHORS
.update-venv/
ChangeLog
openstack/versioninfo
*.egg
.testrepository/
.project
.pydevproject
etc/openstack.conf.sample
