[access "refs/*"]
        owner = group Administrators
[receive]
        requireChangeId = true
        requireContributorAgreement = true
	requireShortMessage = true
[submit]
        mergeContent = true
[access "refs/heads/*"]
        label-Code-Review = -2..+2 group openstack-common-core
        label-Approved = +0..+1 group openstack-common-core
[access "refs/heads/milestone-proposed"]
        label-Code-Review = -2..+2 group openstack-common-drivers
        label-Approved = +0..+1 group openstack-common-drivers
