# The order of packages is significant, because pip processes them in the order
# of appearance. Changing the order has an impact on the overall integration
# process, which may cause wedges in the gate later.

pbr>=1.6
argparse
debtcollector>=0.3.0 # Apache-2.0
greenlet>=0.3.2
Jinja2>=2.8 # BSD License (3 clause)
oslo.concurrency>=2.3.0 # Apache-2.0
oslo.config>=2.7.0 # Apache-2.0
oslo.middleware>=3.0.0 # Apache-2.0
oslo.serialization>=1.10.0 # Apache-2.0
oslo.utils!=3.1.0,>=2.8.0 # Apache-2.0
PrettyTable<0.8,>=0.7
psutil<2.0.0,>=1.1.1
pycrypto>=2.6
python-memcached>=1.56
requests>=2.8.1
six>=1.9.0
stevedore>=1.5.0 # Apache-2.0
oslo.i18n>=1.5.0 # Apache-2.0
