d2to1>=0.2.10,<0.3
pbr>=0.5,<0.6
PasteDeploy==1.5.0
WebOb==1.2.3
eventlet>=0.12.0
greenlet>=0.3.2
lxml
requests>=1.1,<1.2.3
routes==1.12.3
iso8601>=0.1.4
anyjson>=0.3.3
kombu>2.4.7
argparse
stevedore
sqlalchemy-migrate>=0.7
SQLAlchemy>=0.7.8,<=0.7.9
qpid-python
six
netaddr
pycrypto>=2.6

-f http://tarballs.openstack.org/oslo.config/oslo.config-1.2.0a3.tar.gz#egg=oslo.config-1.2.0a3
oslo.config>=1.2.0a3
