coverage>=3.6
discover
fixtures>=0.3.14
hacking>=0.9.1,<0.10
MySQL-python
oslotest
pylint==0.25.2
pyzmq==2.2.0.1
redis
simplejson>=2.0.9
sphinx>=1.2.1,<1.3
testrepository>=0.0.18
testscenarios>=0.4
testtools>=0.9.34
