# NOTE(dhellmann): These requirements are just for the tool scripts and
# do not need to be synced.

argparse
oslo.config
jinja2
parawrap
pyyaml
prompt_toolkit

# This modules makes output yaml much easier to
# view in a format that pyyaml doesn't by default
# create.
pyaml

# We don't want to lose ordering that we get when
# creating and modifying existing release yaml files.
yamlordereddictloader
